[package]
name = "mousai"
version = "0.7.0"
authors = ["Dave Patrick Caberto <davecruz48@gmail.com>"]
license = "GPL-3.0-or-later"
edition = "2021"

[dependencies]
log = "0.4.17"
pretty_env_logger = "0.4.0"
gettext-rs = { version = "0.7.0", features = ["gettext-system"] }
once_cell = "1.10.0"
soup3 = "0.2.2"
gst = { package = "gstreamer", version = "0.18.8" }
gst_player = { package = "gstreamer-player", version = "0.18.0" }
adw = { package = "libadwaita", version = "0.2.0-alpha.2", features = ["v1_2"] }
gtk = { version = "0.4.7", package = "gtk4", features = ["v4_6"] }
indexmap = "1.8.1"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
anyhow = "1.0.57"
futures-channel = "0.3.21"
futures-util = { version = "0.3.21", default-features = false }
async-trait = "0.1.53"
mpris-player = "0.6.1"
typetag = "0.2.0"
gsettings-macro = "0.1.6"
fuzzy-matcher = "0.3.7"
pulse = { package = "libpulse-binding", version = "2.26.0" }
pulse_glib = { package = "libpulse-glib-binding", version = "2.25.1" }
