audiovisualizer {
  color: @accent_color;
}

albumcover > frame {
  border: none;
}

/* ExternalLinkCell */

.external-link-cell {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 36px;
  padding-left: 36px;
}

/* TODO improve styling. Maybe add icons too */

.external-link-cell.audd {
	background: linear-gradient(75deg, #f9e2a7 0%, #eb5ec3 50%, #6d53e0 100%);
	color: #393484;
}
.external-link-cell.audd:hover {
	background: linear-gradient(75deg, shade(#f9e2a7, 1.07) 0%, shade(#eb5ec3, 1.07) 50%, shade(#6d53e0, 1.07) 100%);
}
.external-link-cell.audd:active {
	background: linear-gradient(75deg, shade(#f9e2a7, .97) 0%, shade(#eb5ec3, .95) 50%, shade(#6d53e0, 1.07) 100%);
}

.external-link-cell.spotify {
	background: linear-gradient(180deg, @green_4 30%, @green_5 100%);
	color: white;
}
.external-link-cell.spotify:hover {
	background: linear-gradient(180deg, shade(@green_4, 1.06) 30%, shade(@green_5, 1.06) 100%);
}
.external-link-cell.spotify:active {
	background: linear-gradient(180deg, shade(@green_4, .95) 30%, shade(@green_5, .95) 100%);
}

.external-link-cell.youtube {
	background: linear-gradient(80deg, @red_4 30%, @red_5 100%);
	color: white;
}
.external-link-cell.youtube:hover {
	background: linear-gradient(80deg, shade(@red_4, 1.06) 30%, shade(@red_5, 1.06) 100%);
}
.external-link-cell.youtube:active {
	background: linear-gradient(80deg, shade(@red_4, .95) 30%, shade(@red_5, .95) 100%);
}

/* HistoryView */

.history-view {
  padding: 24px;
}

.history-view > child {
  margin: 6px;
  padding: 6px;
}

/* SongBar */

.activate-song-button {
  padding: 6px;
}

.playback-button {
  min-width: 40px;
  min-height: 40px;
}

.playback-position-scale {
  padding: 0;
  min-height: 6px;
}

.playback-position-scale trough,
.playback-position-scale highlight {
  border-radius: 0;
  border-left: none;
  border-right: none;
  min-height: 6px;
  transition: min-height 100ms ease-out;
}

.playback-position-scale:hover trough,
.playback-position-scale:hover highlight,
.playback-position-scale:active trough,
.playback-position-scale:active highlight {
  min-height: 12px;
}

/* SongCell */

.buffering-button {
  border-radius: 99999px;
}

.buffering-button > button {
  background: none;
}
