audiovisualizer {
  color: @accent_color;
}

albumart > frame {
  border: none;
}

stack .circular {
  border-radius: 99999px;
}

/* MainPage */

.history-view {
  padding: 24px;
}

.history-view > child {
  margin: 6px;
  padding: 6px;
}

/* SongBar */

.activate-song-button {
  padding: 6px;
}

.playback-button {
  min-width: 40px;
  min-height: 40px;
}

.playback-position-scale {
  padding: 0;
  min-height: 6px;
}

.playback-position-scale trough,
.playback-position-scale highlight {
  border-radius: 0;
  border-left: none;
  border-right: none;
  min-height: 6px;
  transition: min-height 100ms ease-out;
}

.playback-position-scale:hover trough,
.playback-position-scale:hover highlight,
.playback-position-scale:active trough,
.playback-position-scale:active highlight {
  min-height: 12px;
}
