/*
 * Credits from https://github.com/elementary/music
 * Including the SVG files in gresources
 */

playbackindicator {
  color: @accent_bg_color;
}

playbackindicator.active {
  animation: playing 1.8s linear infinite;
}

@keyframes playing {
    0% { -gtk-icon-source: -gtk-icontheme("playing-00-symbolic"); }
    6% { -gtk-icon-source: -gtk-icontheme("playing-01-symbolic"); }
    13% { -gtk-icon-source: -gtk-icontheme("playing-02-symbolic"); }
    20% { -gtk-icon-source: -gtk-icontheme("playing-03-symbolic"); }
    26% { -gtk-icon-source: -gtk-icontheme("playing-04-symbolic"); }
    31% { -gtk-icon-source: -gtk-icontheme("playing-05-symbolic"); }
    37% { -gtk-icon-source: -gtk-icontheme("playing-06-symbolic"); }
    42% { -gtk-icon-source: -gtk-icontheme("playing-07-symbolic"); }
    48% { -gtk-icon-source: -gtk-icontheme("playing-08-symbolic"); }
    53% { -gtk-icon-source: -gtk-icontheme("playing-09-symbolic"); }
    58% { -gtk-icon-source: -gtk-icontheme("playing-10-symbolic"); }
    63% { -gtk-icon-source: -gtk-icontheme("playing-11-symbolic"); }
    69% { -gtk-icon-source: -gtk-icontheme("playing-12-symbolic"); }
    74% { -gtk-icon-source: -gtk-icontheme("playing-13-symbolic"); }
    79% { -gtk-icon-source: -gtk-icontheme("playing-14-symbolic"); }
    84% { -gtk-icon-source: -gtk-icontheme("playing-15-symbolic"); }
    90% { -gtk-icon-source: -gtk-icontheme("playing-16-symbolic"); }
    95% { -gtk-icon-source: -gtk-icontheme("playing-17-symbolic"); }
    100% { -gtk-icon-source: -gtk-icontheme("playing-00-symbolic"); }
}
