on:
  push:
    branches: [main]
  pull_request:

name: CI

jobs:
  codespell:
    name: Codespell
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          ignore_words_list: "crate,ser"
          skip: "*.svg,*.po"

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      - name: Create blank versions of configured file
        run: echo -e "" >> src/config.rs
      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  flatpak:
    name: Flatpak
    runs-on: ubuntu-20.04
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-40
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
      with:
        bundle: mousai.flatpak
        manifest-path: build-aux/io.github.seadve.Mousai.Devel.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}
